{% extends 'base.html' %}

{% block head %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script
   src="https://kit.fontawesome.com/64d58efce2.js"
   crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
  <title>Sum-a-Rise</title>`
{% endblock %}

 {%block body%}
  <div class="container">
   <div class="forms-container">
    <div class="signin-signup">
     <form action="#" class="sign-in-form">
      <h2 class="title">Sign in</h2>
      <div class="input-field">
       <i class="fas fa-user"></i>
       <input type="text" placeholder="Username" />
      </div>
      <div class="input-field">
       <i class="fas fa-lock"></i>
       <input type="password" placeholder="Password" />
      </div>
      <input class="btn solid" type="submit" value="Login" />
      <p class="social-text">Or Sign in with Google</p>
      <div class="social-media">
       <a href="#" class="social-icon">
        <i class="fab fa-google"></i>
       </a>
      </div>
     </form>
     <form action="#" class="sign-up-form">
      <h2 class="title">Sign up</h2>
      <div class="input-field">
       <i class="fas fa-user"></i>
       <input type="text" placeholder="Username" />
      </div>
      <div class="input-field">
       <i class="fas fa-envelope"></i>
       <input type="email" placeholder="Email" />
      </div>
      <div class="input-field">
       <i class="fas fa-lock"></i>
       <input type="password" placeholder="Password" />
      </div>
      <input type="submit" class="btn" value="Sign up" />
      <p class="social-text">Or Sign up with Google</p>
      <div class="social-media">
       <a href="#" class="social-icon">
        <i class="fab fa-google"></i>
       </a>
      </div>
     </form>
    </div>
   </div>

   <div class="panels-container">
    <div class="panel left-panel">
     <div class="content">
      <h3> New Here ?</h3>
      <button class="btn transparent" id="sign-up-btn">Sign up</button>
     </div>
     <img src="{{url_for('static', filename='/image/bg1.jpg')}}" class="image" alt="background img" />
    </div>
    <div class="panel right-panel">
     <div class="content">
      <h3>Be with us !</h3>
      <p>
        Sum-a-Rise ease the work. 
      </p>
      <button class="btn transparent" id="sign-in-btn">Sign in</button>
     </div>
     <img src="{{url_for('static', filename='/image/register.svg')}}" class="image" alt="register.svg here"/>
    </div>
   </div>
  </div>
  <script>
    const sign_in_btn = document.querySelector('#sign-in-btn');
    const sign_up_btn = document.querySelector('#sign-up-btn');
    const container = document.querySelector('.container');

    sign_up_btn.addEventListener('click', () => {
      container.classList.add('sign-up-mode');
    });

    sign_in_btn.addEventListener('click', () => {
      container.classList.remove('sign-up-mode');
    });


</script>
{% endblock %}